.grid .cell {
  position: relative;
  background-color: var(--primary-grid-color);
  border: solid 1px var(--secondary-grid-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--tertiary-grid-color);
}

.circle.hit {
  background-color: red;
}

.circle.hello {
  background-color: pink;
}

.circle.miss {
  background-color: white;
}
