body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-bg-color: #2f394d;
  --secondary-bg-color: #a0a0a0;
  --primary-grid-color: #2db5d7;
  --secondary-grid-color: #49bedb;
  --tertiary-grid-color: #77c3d8;
  --player-1-color: #f2545b;
  --player-2-color: #5ebfd7;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
}
